.inputContainer {
  margin-bottom: 1rem;
}

.label,
.input {
  display: block;
  width: 100%;
}

.label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.input {
  padding: 1rem;
  font-size: 1.5rem;
  appearance: none;
  border: 2px solid #ddd;
  border-radius: 5px;
}

.error {
  margin-top: 0.25rem;
  color: #f94d9f;
}

.error:empty::after {
  content: ".";
  visibility: hidden;
}
