.formContainer {
  padding: 1.5rem;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.formHeader {
  text-align: center;
  font-size: 2rem;
}

.formSelect {
  display: flex;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.formSelect > * {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  background: none;
}

.formSelect .selected {
  background: linear-gradient(to right, #f94d9f, #a74ab3);
  border-radius: 5px;
  color: white;
}
