.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.15);
}

.movingBar {
  animation-delay: 0s;
  animation-direction: alternate-reverse;
  animation-duration: 1s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-name: bounceAndMove;
  animation-play-state: running;
  animation-timing-function: linear;
  height: 7px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #f94d9f;
  width: 15%;
  border: 1px solid #ddd;
}

@keyframes bounceAndMove {
  0% {
    left: -7%;
    width: 15%;
  }
  50% {
    left: 20%;
    width: 60%;
  }
  100% {
    left: 93%;
    width: 15%;
  }
}
